VITE_SUPABASE_URL=https://mmzktbgjsvzgfblthdzv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1temt0Ymdqc3Z6Z2ZibHRoZHp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM2OTA1MTgsImV4cCI6MjA0OTI2NjUxOH0.s-wwQS7qcMHEezGEUh8TaswwTGU9nzamK4X2aBVj7ko